---
import ProjectVersion from "@components/ProjectVersion.astro";
import Page from "@layouts/Page.astro";
import type { GetStaticPaths } from "astro";
import { projects } from "src/projects";
import type { Project } from "src/types";

export const getStaticPaths = (() =>
  projects.map(({ id }) => ({
    params: { projectId: id },
  }))) satisfies GetStaticPaths;

const { projectId } = Astro.params;

const project: Project = projects.find(({ id }) => id === projectId)!;
---

<Page title={project.name}>
  <div id="layout-grid">
    <aside>
      <div class="flex-column px-7 gap-2 pt-8">
        {
          projects.map((project) => (
            <a
              href={`/projects/${project.id}`}
              class={projectId === project.id ? "selected semibold" : ""}
            >
              {project.name}
            </a>
          ))
        }
      </div>
    </aside>
    <div class="container fixed-width pl-10 pt-7">
      <h1>{project.name}</h1>
      <p set:html={project.description} />
      <h2 class="mt-8 text-secondary fs-xl fw-normal">Current Version</h2>
      <ProjectVersion
        version={`V${(project.versions?.length ?? 0) + 1}`}
        technologies={project.technologies}
        repo={project.repo}
        about={project.about}
      />
      {
        (project.versions?.length ?? 0) > 0 && (
          <h2 class="mt-8 text-secondary fs-xl fw-normal">Previous Versions</h2>
        )
      }
      {
        project.versions?.map((version) => (
          <ProjectVersion
            version={version.version}
            technologies={version.technologies}
            repo={version.repo}
            about={version.about}
          />
        ))
      }
    </div>
  </div>
</Page>

<style>
  html {
    background-image: repeating-linear-gradient(
        90deg,
        transparent,
        transparent var(--bg-pattern-size),
        var(--bg-color-accent) var(--bg-pattern-size),
        var(--bg-color-accent) calc(var(--bg-pattern-size) + 1px)
      ),
      repeating-linear-gradient(
        0deg,
        transparent,
        transparent var(--bg-pattern-size),
        var(--bg-color-accent) var(--bg-pattern-size),
        var(--bg-color-accent) calc(var(--bg-pattern-size) + 1px)
      );
  }

  #layout-grid {
    position: relative;
    height: 100%;

    & > aside {
      position: absolute;
      top: 0;
      width: 20rem;
      height: 100%;
      display: fixed;
      background-color: hsl(var(--grey-950));
      border-right: var(--spacing-1) solid hsl(var(--grey-900));

      & a {
        text-decoration: none;
        padding-block: var(--spacing-4);
        padding-left: var(--spacing-8);
        transition: transform 100ms linear;
        border-radius: var(--spacing-3);

        &:is(:hover, :focus-visible) {
          background-color: hsl(var(--orange) / 0.2);

          &:not(.selected) {
            transform: translateX(1%);
          }
        }
      }
    }
    & > .container {
      margin-left: 20rem;
    }
    & > .fixed-width {
      max-width: 70ch;
    }
  }
  .selected {
    color: hsl(var(--orange));
  }
</style>
<script>
  const navbar = document.getElementById("navbar");
  const navbarHeight = navbar?.offsetHeight;

  const aside = document.querySelector("aside");

  if (aside) {
    console.log("navbarHeight:", navbarHeight);
    aside.style.height = window.innerHeight - (navbarHeight ?? 0) + "px";
  }
</script>
